[Unit]
Description=Run PBS backup nightly

[Timer]
OnCalendar=*-*-* 02:00:00
Persistent=true
RandomizedDelaySec=5m
Unit=pbs-backup.service

[Install]
WantedBy=timers.target
